h1 h2 h3 p {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

.task_condition {
  margin: 0px, 40px;
}

table, th, td {
  border: 1px solid black;
}

form.lessons {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    height: 3em;
    background-color: #cccccc;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

button {
    color: #fff;
    background-color: #73A353;
    width: 10em;
    height: 20em;
    --bs-btn-padding-y: .100rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;

}