{% extends "base.html" %} {% block content %}
<h1>Изменение пароля</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.current_password.label }}<br>
        {{ form.current_password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{ form.new_password_again.label }}<br>
        {{ form.new_password_again(class="form-control", type="password") }}<br>
    </p>
    <h2>{{ message }}</h2>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}