{% extends "base.html" %}{% block content %}
<h1>Редактирование учебника</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% if book.paragraphs %}
<hr>
{% for paragraph in book.paragraphs %}
{% if paragraph.type == PARAGRAPH_TYPE_TEXT %}
{{ paragraph.content | safe}}<br>
Position: {{ paragraph.position }}
<a href="/book_paragraphs/edit/{{ paragraph.id }}" class="btn btn-warning">Изменить</a>
{% elif paragraph.type == PARAGRAPH_TYPE_IMAGE %}
<img src="/static/upload/{{ paragraph.content }}"/><br>
Position: {{ paragraph.position }}
<a href="/book_paragraphs/edit_image/{{ paragraph.id }}" class="btn btn-warning">Изменить</a>
{% endif %}
<a href="/book_paragraphs/delete/{{ paragraph.id }}" class="btn btn-danger">Удалить</a>
<hr>
{% endfor %}
{% endif %}
<a href="/books/{{ book.id }}/book_paragraphs/add_image" class="btn btn-success">Добавить изображение</a>
<a href="/books/{{ book.id }}/book_paragraphs/add" class="btn btn-success">Добавить раздел</a>
{% endblock %}