{% extends "base.html" %} {% block content %}
<style>
    h1 {
        text-align: center;
    }
    div.tasks {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }
    div.task {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin: 20px 25px;
    }
    a.task {
        width: 20em;
        height: 10em;
        font-weight: bold;
    }
    .task_buttons {
        display: flex;
        flex-direction: row;
    }
    .task_buttons a {
        width: 10em;
    }
</style>
<form>
    {% if books %}
    <h1>Учебники</h1>
    <div class="container w-50">
        <hr>
        {% for book in books %}
        <div class="row">
            <div class="col text-center">
                <a href="/books/{{ book.id }}" >{{ book.title.capitalize() }}</a>
                {% if is_admin %}</br>
                <a href="/lessons/{{ lesson.id }}/books/edit/{{ book.id }}" class="btn btn-warning">Изменить</a>
                <a href="/lessons/{{ lesson.id }}/books/delete/{{ book.id }}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
            <div class="col text-left">
                <p>{{ book.description }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endif %}
    {% if is_admin %}
    <a href="/lessons/{{ lesson.id }}/books/add" class="btn btn-success">Добавить учебник</a>
    {% endif %}
    <h1>Задачи</h1>
    <div class="tasks">
        {% for task in tasks %}
        <div class="task">
            <a href="/lessons/{{ lesson.id }}/tasks/{{ task.id }}" type="button" class="btn btn-outline-secondary task">{{
                task.title }}</a>
            {% if is_admin %}
            <div class="task_buttons">
                <a href="/lessons/{{ lesson.id }}/tasks/edit/{{ task.id }}" class="btn btn-warning">Изменить</a>
                <a href="/lessons/{{ lesson.id }}/tasks/delete/{{ task.id }}" class="btn btn-danger">Удалить</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if is_admin %}
    <a href="/lessons/{{ lesson.id }}/tasks/add" class="btn btn-success">Добавить задачу</a>
    {% endif %}
</form>
{% endblock %}