{% extends "base.html" %} {% block content %}
<style>
    h1 {
        text-align: center;
    }
    div.lessons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }
    div.lesson {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    a.lesson {
        width: 20em;
        height: 10em;
        margin-right: 50px;
        font-weight: bold;
    }
    .lesson_buttons {
        display: flex;
        flex-direction: row;
    }
    .lesson_buttons a {
        width: 10em;
    }
</style>
<form>
    <h1>Уроки</h1>
    <div class="lessons">
        {% for lesson in lessons %}
        <div class="lesson">
            <a href="/lessons/{{ lesson.id }}/tasks" type="button" class="btn btn-outline-secondary lesson"><h3><b>{{
                lesson.title }}</b></h3>{{ lesson.description }}</a>
            {% if is_admin %}
            <div class="lesson_buttons">
                <a href="/lessons/edit/{{ lesson.id }}" class="btn btn-warning">Изменить</a>
                <a href="/lessons/delete/{{ lesson.id }}" class="btn btn-danger">Удалить</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a href="/lessons/add" class="btn btn-success">Добавить урок</a>
</form>
{% endblock %}