{% extends "base.html" %} {% block content %}
<style>
    form div {
        display: flex;
    }
    .task {
        width: 20em;
        height: 20em;
        margin-right: 50px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<form>
    <h1>{{ lesson.title }}</h1>
    <div class="grid text-center">
        {% for task in tasks %}
        <a href="{{ task.less_id }}/tasks/{{ task.id }}" type="button" class="btn btn-outline-secondary task">{{
            task.title }}</a>
        {% endfor %}
    </div>
</form>
{% endblock %}