{% extends "base.html" %} {% block content %}
<form>
    <h1>Уроки</h1>
    <div class="grid text-center">
        <a href="lessons/1" type="button" class="btn btn-success">Python 1. Введение</a>
        <a href="lessons/2" type="button" class="btn btn-success">Python 2. Условный оператор</a>
        <a href="lessons/3" type="button" class="btn btn-success">Python 3. Знакомство с циклами</a>
    </div>
</form>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
        Кнопка выпадающего списка
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="lessons/1">Бел</a></li>
        <li><a class="dropdown-item" href="#">Рус</a></li>
        <li><a class="dropdown-item" href="#">Укр</a></li>
    </ul>
</div>
{% endblock %}