{% extends "base.html" %} {% block content %}
<style>
        .b {
            position:absolute;
            left:5px;
            bottom:5px;
    </style>
<h1>Загрузка изображения</h1><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка изображения</title>
</head>
<body>
<form class="upload_form" method="post" style="margin-left: 35%" enctype="multipart/form-data">
           <div class="form-group">
                <label for="photo">Выберите файл</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
<a  type="button" class="btn btn-success b" href="/profile">Вернуться в профиль</a>
</body>
</html>
{% endblock %}