{% extends "base.html" %} {% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль {{ current_user.name }} {{ current_user.surname }}</title>
    <style>
        h1.t {
        width: 7em;
        height: 3em;
        margin-bottom: 5em;
        margin-left: 0;
        position:absolute;
        left:0px;
        }
        .b {
            position:absolute;
            bottom:5px;
            left:5px;
        }
        .d {
            margin-left: 35%;
        }
    </style>
</head>
<body>

<div class="card d" style="width: 18rem;">
  {% if current_user.image_name %}
  <img src="{{url_for('static', filename='upload/'+current_user.image_name)}}" class="card-img-top" alt="Не удалось получить изображение">
  {% endif %}
  <div class="card-body">
    <h1 class="card-title">{{ current_user.name }} {{ current_user.surname }}</h1>
    <p class="card-text">Возраст: {{ current_user.age }}</p>
    <p class="card-text">Почта: {{ current_user.email }}</p>
    <p class="card-text">Ваш id: {{ current_user.id }}</p>
    <a type="button" class="btn btn-success" href="load_image">Загрузить изображение</a>
  </div>
</div>
<a class="btn btn-danger b" href="/logout">Выйти из аккаунта</a>
</body>
</html>
{% endblock %}