{% extends "base.html" %} {% block content %}
<div class="container w-90 text-center">
    <h2> Рейтинг учеников</h2>
    <div class="row">
        <div class="col">
            <h3>Ученик</h3>
        </div>
        <div class="col">
            <h3>Рейтинг</h3>
        </div>
    </div>
    {% for user in users %}
    <div class="row">
        <div class="col">
            {{ user.name }} {{ user.surname }}
        </div>
        <div class="col">
            {{ user.completed_tasks }}
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link {{ 'disabled' if not prev_page.enabled }}" href="{{ prev_page.link }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages %}
                <li class="page-item {{ 'disabled' if not page.enabled }}"><a class="page-link" href="{{ page.link }}">{{ page.name }}</a></li>
                {% endfor %}
                <li class="page-item {{ 'disabled' if not next_page.enabled }}">
                    <a class="page-link" href="{{ next_page.link }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}