{% extends "base.html" %} {% block content %}
<form>
  <h1>Задачи для выполнения</h1>
    <div class="grid text-center" style="display: flex">
        <a href="tasks/1" type="button" class="btn btn-outline-secondary" style="width: 20em; height: 20em;margin-right: 50px;font-weight: bold;display: flex;
  align-items: center;
  justify-content: center;">Эхо</a>
        <a href="tasks/2" type="button" class="btn btn-outline-secondary" style="width: 20em; height: 20em;margin-right: 50px;font-weight: bold;display: flex;
  align-items: center;
  justify-content: center;">Друзья друзей</a>
        <a href="tasks/3" type="button" class="btn btn-outline-secondary" style="width: 20em; height: 20em;margin-right: 50px;font-weight: bold;display: flex;
  align-items: center;
  justify-content: center;">Чётные или Нечётные</a>
    </div>
</form>
{% endblock %}