{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="../../../static/css/style.css" />
<link rel="stylesheet" href="../../../static/css/base.css" />
<form action="" method="post">
  <h1>{{ task.title }}</h1>
  <div>
    <div><p>{{ task.condition }}</p></div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Входные данные</th>
            <th>Выходные данные</th>
          </tr>
        </thead>
        <tbody>
          {% for example in examples %}
          <tr>
            <td>
              {% for i in example[0].split('^') %}
              <p>{{i}}</p>
              {% endfor %}
            </td>
            <td>
              {% for i in example[1].split('^') %}
              <p>{{i}}</p>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br />
    {% if current_user.__class__.__name__ == 'Student' %}
    <div>{{ form.code(cols=40, rows=10) }}</div>
    {% if is_checked %}
    <p>Задача проверена</p>
    {% if is_solved %}
    <p>Решена</p>
    {% else %}
    <p>Не решена</p>
    {% endif %} {% else %} {% if is_send %}
    <p>Задача отправлена</p>
    {% else %}
    <p>Задача не отправлена</p>
    {% endif %} {% endif %} {% if not is_solved %}
    <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>
    {% endif %} {% endif %}
  </div>
</form>
{% endblock %}
